body {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
table {
	background-color: rgb(220,230,255);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid rgb(50,50,50);
	width:720px; 
}
h6 {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	width:720px; 
}

.menu {
	text-align: center;
	background-color: rgb(255,240,150);
	border-bottom: 1px solid rgb(50,50,50);
	font-size: 13px;
	font-weight: bold;
}
.menu a {
	color: black;
	font-weight: normal;
}
.menu a:hover {
	color: rgb(255,240,150);
	background-color: rgb(50,50,255);
}

.box {
	font-size: 11px;
	background-color: rgb(255,255,200);
	border: 1px solid #333333;
	padding: 5px;
}
.faq {
	font-style: italic;
      background-color: rgb(220,230,255);
      border-top:1px solid #333333;

}
.reply {
      background-color: white;
      border-top:1px solid #333333;

}
